@section Styles{
    <style>
        body {
            background-color: #FAFAFA
        }
    </style>
}

@model InstaMel.Areas.Identity.Data.InstaMelUser
<table>
    <tr>
        <td rowspan="3">
            <img src="~/Uploads/@Model.Photo" class="profilePhoto" />
        </td>
        <td>
            <h3 class="ProfileName">
                @Model.Name
                <button class="btned" type="button" data-toggle="modal" data-target="#EdProfile">
                    Edit profile
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-wide" viewBox="0 0 16 16">
                        <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z" />
                    </svg>
                </button>
            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <div class="col-4" align="center">
                    0 <br />
                    <b>Posts</b>
                </div>
                <div class="col-4" align="center">
                    0 <br />
                    <b>followings</b>
                </div>
                <div class="col-4" align="center">
                    0 <br />
                    <b>Followers</b>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="margin-left:15px">
                <p style="max-width:75px">
                    @Model.Bio
                </p>
            </div>
        </td>
    </tr>
</table>

<div class="modal fade" id="EdProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" data-dismiss="modal" >&times;</span>
                </button>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">General infos</button>
                    <button class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Password</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form method="post" asp-controller="Profiles" asp-action="EditProfile" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group" style="margin-bottom:5px">
                                <label> Name: </label>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Name" id="Name" value="@Model.Name" />
                            </div>

                            <div class="form-group" style="margin-bottom:5px">
                                <label> Bio: </label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="@Model.Bio.Split('\n').Count()" name="Bio" id="Bio">@Model.Bio</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="padding:10px">
                    <div class="form-group" style="margin-bottom:5px">
                        <label> Current password: </label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" autocomplete="new-password" id="oldPass" oninput="removeError(oldPass, p1)" />
                        <p class="text-danger" style="font-size:9pt; display:none;" id="p1"> Current password is require</p>
                    </div> <div class="form-group" style="margin-bottom:5px">
                        <label> New password: </label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" autocomplete="off" id="newPass" oninput="removeError(newPass, p2)" />
                        <p class="text-danger" style="font-size:9pt; display:none;" id="p2"> New password most be long than 6 chars</p>
                    </div> <div class="form-group" style="margin-bottom:5px">
                        <label> Confirm password: </label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" autocomplete="off" id="confirmPass" oninput="removeError(confirmPass, p3)" />
                        <p class="text-danger" style="font-size: 9pt;display: none;" id="p3"> New password is not equal to the confirm password</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#chPass").on("click", function () {
            var oldPass = document.getElementById("oldPass");
            var newPass = document.getElementById("newPass");
            var confirmPass = document.getElementById("confirmPass");

            if (oldPass.value.replace(" ", "") == '') {
                oldPass.classList.add("inputeError");
                document.getElementById('p1').style.display = "block";
                return false;
            }
            if (newPass.value.length < 6) {
                newPass.classList.add("inputeError");
                document.getElementById('p2').style.display = "block";
                return false;
            }
            if (newPass.value != confirmPass.value) {
                confirmPass.classList.add("inputeError");
                newPass.classList.add("inputeError");
                document.getElementById('p3').style.display = "block";
                return false;
            }

            $.ajax({
                url:'/Profiles/chPass',
                type: 'post',
                data: { oldPass: oldPass.value, newPass: newPass.value },
                success: function (res) {

                    if (Boolean(res) == true) {
                        alert("Change password success");
                        $("#EdProfile").modal("hide");
                    }
                    else {
                        oldPass.classList.add("inputeError");
                    }
                }
            });

        });

        function removeError(inp, p) {
            inp.classList.remove('inputeError');
            p.style.display = "none";
        }
    </script>

}